div {
    text-align: center;
}

h2 {
    text-shadow: grey 10px 6px 3px;
}

h3 {
    font-size: 18px;
}

P {
    text-indent: 2em;
}


/* img{
    vertical-align: middle;
} */

.time {
    font-size: 20px;
    font-family: '宋体';
}