<!DOCTYPE html>
<!--引入thymeleaf命名空间-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<!--    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}" />-->
<!--    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />-->
<!--    <script th:src="@{/js/bootstrap.js}"></script>-->
<!--    <script th:src="@{/js/bootstrap.min.js}"></script>-->
<body>
<!--vue的作用域-->
<div id="app">
    <!--{{xxx}} 这个叫插值表达式-->
    <h1>{{msg}}我的名字叫：{{name}}</h1>
    <h1>我们的公司是：{{company}}</h1>
</div>
</body>
<script src="../static/js/vue.js"></script>
<script>
    const app = new Vue({
        //element 用来给Vue实例定义一个作用范围
        el: "#app",
        //用来给Vue实例定义一些相关数据
        data: {
            msg: "Hello Vue!",
            name: '阿三',
            company: 'java太空站',
        },
    });

</script>
</html>