<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cloud.mybatisplus_demo.mapper.UserMapper">

    <!-- 查找用户信息 -->
    <select id="findAllUser" resultType="com.cloud.mybatisplus_demo.bean.SysUser">
        select * from user
    </select>

</mapper>