<component name="libraryTable">
  <library name="spring-boot-starter-logging-2.5.7">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/mvnRespotity/org/springframework/boot/spring-boot-starter-logging/2.5.7/spring-boot-starter-logging-2.5.7.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>