<!DOCTYPE html>
<!--引入thymeleaf命名空间-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>修改密码界面</title>
</head>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
<!--    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />-->
<script th:src="@{/js/bootstrap.js}"></script>
<!--    <script th:src="@{/js/bootstrap.min.js}"></script>-->
<body>
<h1 class="fs-3 align-text-bottom">修改密码界面</h1>
<form>
    <div class="col-auto">
        <label for="password" class="col-form-label fs-4">请输入原密码：</label>
        <input type="text" class="form-control" id="password" name="password" placeholder="password">
    </div>
    <div class="col-auto">
        <label for="newPassword" class="col-form-label fs-4">请输入新密码</label>
        <input type="text" class="form-control" id="newPassword" name="newPassword" placeholder="newPassword">
    </div>
    <div class="col-auto">
        <label for="confirmPassword" class="col-form-label fs-4">请再次确认新密码</label>
        <input type="text" class="form-control" id="confirmPassword" name="confirmPassword"
               placeholder="confirmPassword">
        <input type="text" name="cardNo" id="cardNo" th:value="${session.cardNo}">
    </div>
    <input type="button" th:value="修改" onclick="change();">
</form>
<script th:src="@{/js/axios.min.js}"></script>
<script>
    var password = document.getElementById('password');
    var newPassword = document.getElementById('newPassword');
    var confirmPassword = document.getElementById('confirmPassword');
    var cardNo = document.getElementById("cardNo");
    let url = '[[@{/}]]';

    function checkPassword() {
        if (newPassword.value.length < 6) {
            alert("密码长度必须大于等于6位");
            return false;
        }
        return true;
    }

    function change() {
        if (checkPassword()) {
            axios({
                method: 'post',
                url: url + 'account/updatePassword',//?password=' + password.value + '&newPassword=' + newPassword.value + '&confirmPassword=' + confirmPassword.value + '&cardNo=' + cardNo.value,
                params: {
                    password: password.value,
                    newPassword: newPassword.value,
                    confirmPassword: confirmPassword.value,
                    cardNo: cardNo.value,
                }
            })
                .then((res) => {
                    //回调函数新老密码验证成功
                    if (res.data.success) {
                        alert(res.data.msg)
                        top.location.href = url + "login";
                        //验证失败，新老密码不一致
                    } else {
                        alert(res.data.msg);
                        window.location.href = url + "updatePassword"
                    }
                }).catch(function (err) {
                console.log(err);
            });
        }
    }
</script>
</body>
</html>