/*login.html界面css*/
.banner_top {
    background: deeppink !important;
    height: 60px !important;
    font-size: 30px;
}

.login_label {
    background: deeppink;
    width: 100px;
}

input {
    width: 240px !important;
}

form {
    margin: auto;
    text-align: center;
    width: 600px;
}

.row {
    width: 300px !important;
    margin: auto;
}

.login_box {
    width: 600px;
    margin: auto;
}

button {
    width: 352px !important;
    background: deeppink !important;
}

h2 {
    color: deeppink;
    font-weight: 900;
    font-size: 34px !important;
    margin-left: -13px;
}

/*main.html界面css*/
.main_color {
    color: deeppink;
}

.tr_th {
    text-align: center;
    color: deeppink;
}

.add {
    width: 100px !important;
    height: 30px;
    background: deeppink;
    color: white;
    font-weight: 900;
    text-align: center;
}

.table-danger {
    border: 2px solid deeppink !important;
    text-align: center !important;
}

.add_button {
    text-align: left !important;
}

.main_title {
    font-size: 30px;
}

/*添加页面css*/
.textarea {
    width: 240px;
}

.span_span {
    color: red !important;
    font-weight: 900;
}

.table-primary {
    border: 2px solid deeppink !important;
    text-align: left !important;
}

.span_hidden {
    display: none;
}