# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\00-hxzy-project\mybatisplus_demo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
